.header_grid {
  display: grid;
  grid-template-columns: 33% 33% auto;
  border-bottom: solid 1px #ababab;
}

.acenter {
  text-align: center;
}

.btn_cursor {
  cursor: pointer;
}

.link_tit {
  color: black;
  text-decoration: none;
}

.login_tit {
  border-bottom: solid 1px #ababab;
  padding-bottom: 20px;
}

.modal_tools {
  margin-top: -100px;
}

.login_input_div p {
  font-weight: bold;
  margin-bottom: 8px;
}

.login_input_div input {
  width: 92%;
  padding: 4px;
  margin-top: -10px;
}

.login_div {
  text-align: left;
  padding-left: 20px;
}

.submit_div {
  display: grid;
  grid-template-columns: 45% auto;
  margin-top: 12%;
}

.submit_div div {
  text-align: center;
}

.submit_div div input {
  cursor: pointer;
}
