@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: NG;
  src: url("/static/font/NanumGothic.eot");
  src: local("â˜º"), url("/static/font/NanumGothic.woff") format("woff");
  font-style: normal;
}

html,
body {
  font-family: "Nanum Gothic", sans-serif;
  color: #454545;
  font-size: 14px;
}

li {
  list-style-type: none;
}

input,
label,
textarea,
select,
option {
  &:focus {
    outline: none;
  }
  font-size: inherit;
  font-weight: inherit;
}
